---
layout: default
title: Git Tutorial
---

<div class="row">

    <div class="span8">
        {% for post in site.posts reversed %}
        <article id="{{ post.id }}">
            <header>
                <a href=".{{ post.url }}"><h1>{{ post.title }}</h1></a>
            </header>
            <section>
                {{ post.content }}
            </section>
            <footer>
                {% if post.source %}
                <blockquote><small>Source: <a href="{{ post.source }}">{{ post.source }}</a></small></blockquote>
                {% endif %}
            </footer>
        </article>
        {% endfor %}
    </div>

    <nav id="nav" class="span3 well">
        <ol>
            {% for post in site.posts reversed %}
            <li><strong><a href="#{{ post.id }}">{{ post.title }}</a></strong></li>
            {% endfor %}
        </ol>
    </nav>

</div>
