<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="./css/bootstrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="./css/custom.css">
    </head>

    <body>
        <div class="container">
            <header class="hero-unit">
                <h1>{{ page.title }}</h1>
            </header>

            {{ content }}

        </div>
    </body>
</html>
